.gameboard {
  // position: fixed;
  // top: 30%;
  // left: 30%;

  border: 2px black solid;
  // background-color: aquamarine;
  width: 360px;
  height: 360px;
  margin: 10rem auto;
  // margin-top: ;
  // margin-left: auto;
  // margin-top: 500px;
  // margin-top: 5%;
  font-size: 0px;
}
