.gameboard {
  // display: flex;
  // position: fixed;
  // top: 30%;
  // left: 30%;

  // border: 2px black solid;
  // background-color: aquamarine;
  width: 360px;
  height: 360px;
  // margin-top: 10rem;
  // margin-bottom: 10rem;
  margin: 10rem auto;
  // ma
  // background-color: aqua;
  font-size: 0px;
}
