@import "./../GameBoard/Peg/Peg.scss";

.navbar {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 2;
  background-color: red;
  height: 3rem;
}

.newgamebtn {
  float: inline-end;
  position: relative;
  text-align: center;
  // display: inline-block;
  background-color: #898989;
  color: $NavyBlue;
  padding: 1rem auto;
  margin: 0.7rem 0.5rem;
  height: 1.5rem;
  width: 6rem;
}
