@import "./../GameBoard/Peg/Peg.scss";

.navbar {
  background-color: red;
  //   position: fixed;
  display: block;
  height: 3rem;
  //   margin: 0px 0px;
}

.newgamebtn {
  display: inline-block;
  background-color: #898989;
  color: $NavyBlue;
  padding: auto auto;
  margin: auto auto;
  height: 1.5rem;
  width: 5rem;
}
